.searchbar {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.wrapper {
    /* position:relative;*/
    align-items: center;
    display: flex;
    width: 26%;
    margin: 0;
}

.icon {
    font-size: 25px;
    background-color: white;
    align-content: center;
    color: grey;
    transform: translateX(-170%);
    /*
       background-color: red;
    font-size: 25px;
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    top:50%;
    left:2px;
    transform: translateY(-50%); 
    */
}

.searchbar input {
    border-radius: 5px;
    border: solid;
    border-width: 0.1px;
    border-color: #DCDCDC;
    padding: 0px 5px;
    margin: 15px 0px;
    margin-right: 10px;
    height: 40px;
    width: 100%;
}

.date_picker {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
}


.date_picker h2 {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.baths_beds{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
}
.baths_beds input{
    width: 60px;
    margin-left: 5px;
}

.baths_beds h2 {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}

.searchbar button{
    border: none;
    color: white;
    background-color: #006169;
    border-radius: 4px;
    padding: 0px 25px;
    font-weight: 600;
    height: 40px;
    align-self: center;
}

.searchbar button:hover{
    background-color: #07A7B4;

}

