

.homes_grid{
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr ;
}



@media (max-width:480px) {
    .homes_grid {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    
    
}