
.homecard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    align-self: center;
    border-radius: 5px;
    margin: 10px;
}

.homecard img{
    height: 150px;
    width: 100%;
    border-radius: 10px;
}

.content{
    height: min-content;
    margin: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: start;
}


.price_containerr{
display: flex;
flex-direction: row;
align-items: baseline;
}

.price_containerr h1{
    font-size: 25px;
    font-weight: 450;
    margin-right: 3px;
}

.price_containerr h2{
    font-size: 15px;
    font-weight: 600;
    margin-right: 5px;
}

.price_containerr h3{
    font-size: 10px;
}

.properties_containerr{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.property_containerr{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}
.property_containerr p{
    font-size: 14px;
    font-weight: 200;
    margin-left: 5px;
}

@media (max-width:480px) {

    .homecard{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        align-self: center;
        border-radius: 5px;
        margin: 0px;
        margin-top: 10px;
    }
    
    .homecard img{
        height: 180px;
        width: 100%;
        border-radius: 10px;
    }
    
    .content{
        height: min-content;
        margin: 10px;
        display: flex;
        flex-direction: column;
        text-align: start;
    }
    
}