.homescreen {
    background-color: white;
    margin: 0px;
    padding: 20px 150px;
    display: flex;
    flex-direction: row;
}



.image_details {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0px 15px;
}

.image_details img {
    height: 100%;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}

.ownerinfo {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.ownerinfo textarea{
    border-radius: 2px;
    border: solid;
    border-color: #E0E0E0	;
    border-width: 0.1px;
    margin-top: 20px;
    padding: 5px 5px;
    text-align: start;
    width: 100%;
    font-size: 13px;
}


.email_button{
    border: none;
    color: white;
    background-color: #006169;
    border-radius: 4px;
    padding: 0px 25px;
    margin-top: 30px;
    font-weight: 600;
    height: 40px;
    width: 100%;
    align-self: center;
}

.email_button:hover{
    background-color: #07A7B4;

}



.price_container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.price_container h1 {
    font-size: 37px;
    font-weight: 550;
    margin-right: 5px;
}

.price_container h2 {
    font-size: 20px;
    font-weight: 600;
    margin-right: 8px;
}

.price_container h3 {
    font-size: 18px;
}

.properties_container{
    display: flex;
    flex-direction: row;
    margin-top: 18px;
}

.property_container{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.property_container p{
    font-size: 15px;
    font-weight: 100;
    margin-left: 10px;
}

.properity_information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
}

.properity_information h1{
    font-size: 15px;
    font-weight: 600;
    width: 25%;
}

.properity_information h2{
    font-size: 14px;
    font-weight: 400;
    width: 25%;
}


.adresse_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.adresse_row button{
    display: flex;
    flex-direction: row;
    border: none;
    background-color: transparent;
    align-items: center;
}

.adresse_row button:hover{
color: #006169;
}

.adresse_row h2{
    font-size: 15px;
    font-weight: 14px;
    align-self: center;
}


.owner_card{
    display:flex;
    flex-direction: row;

}

.owner_card img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-right: 10px;
    align-self: center;
}

.owner_card h2{
    font-size: 16px;
    font-weight: 550;
    margin-right: 5px;
}

.owner_card button{
background-color: transparent;
border: none;
display: flex;
flex-direction: row;
align-items: center;
font-size: 15px;
font-weight: 500;
margin: 0;
padding: 0;
}

.owner_card button:hover{
    color: #006169;
 }

 .owner_card button h2{
    font-size: 14px;
    font-weight: 600;
 }



 @media (max-width: 480px){ 
    .homescreen {
        background-color: white;
        margin: 0px;
        padding: 10px 10px;
        display: flex;
        flex-direction: column;
    } 

    .image_details {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .ownerinfo {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .properties_container{
        display: flex;
        flex-direction: row;
        margin-top: 18px;
        justify-content: space-around;
    }
    
    .properity_information{
        display: bloc;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 10px;
    }
    .properity_information h2{
        font-size: 14px;
        font-weight: 400;
        width: 25%;
        margin: 0px 10px;
    }
    .properity_information h1{
        font-size: 15px;
        font-weight: 600;
        width: 25%;
        margin: 0;
    }
    
}